<!DOCTYPE HTML>
<html>
	<head>
		<% if(paintings[0].category == "drawing"){%>
		<title>Drawings | Helena Blagojević Website</title>
		<meta name="description" content="A collection of diverse artistic renderings of Helena Blagojević.">
		<%}else{%>
		<title>Paintings | Helena Blagojević Website</title>
		<meta name="description" content="An exquisite collection of diverse paintings by Helena Blagojević showcases her mastery of color, emotion, and artistic expression.">
		<%}%>

<%-include("partials/header")%>
<!-- Header -->
	<% if(paintings[0].category == "drawing"){%>
	<div class="index-header" style="background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggd8xPPSDGHm0G7W3fe7pSQgmhFLtpzH0Fc_drX-oBj3MHhY77FF7QG4P3-hMQ6A8kAmxytVryToRgklQUOnr6E8Pr2DSPNgVc-CLDDemEW6nZuFMwfKvjkoD30TyJ5SonGoa7FB3tDpyK2S8D0kBYhRuWfSU0W5UtFtINUKc9xwaAfZ7G1_g-OJM-Rsw3/s16000/drawings-bg.jpg');">
	<%}else if(paintings[0].category == "painting"){%>
	<div class="index-header" style="background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgGl9KWCacMGFRin5d6QWyvtZBGSgRtetEs989krHSEi8QxOfLqCnVME4EzoIxv3vcPOLJi6SGk8tDtqZTbcZw_QDh_Q6OWfD7Dx5EtjbQpHqcJIDoc3drHPjgqAsdo8zdIEiBksuM7pWF9FlzbjRC65OMDcTbNIX1O4EgNwkDGija6HR7pSbejW7YIMR_2/s16000/paintings-bg.jpg');">
	<%}%>
		<div class="inner">
			<% if(paintings[0].category == "drawing"){%>
				<img class="title" alt="Title of page" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgdRjtkaB-CeB6pFok4569aU91-kJ6vSnMpR9cKjk0EMwvDk4UNsr3iRZe2lJXR78iGuGf4vRjKN0R6P90MOqv2pIu2WRCc6BR19kjcUil-ErevSJ_SBHdpcgdcAj8xhCgMYHY3qawJEwuu4nC_i3KawQBRMWuG0zRpbW30vqNidv_fMsHvo0_eqBDlcwtD/s16000/Drawings_title.PNG">
			<%}else{%>
				<img class="title" alt="Title of page" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjFkhHFjoN6hDenWLknIAiwnTafn3RYfF0jcHxxv4MAWQK-WI980QfUKQt3AxBUoXsA1pTC1wLUj-qekpWKIR0yODhXmzRtLSvygHzr6Ufav4uaT1mhlguoCsBE91JgPZPX6fFBPdwmfhohOpDM3kmncRYFiEVV1dMLUUbIj25iN0pwoi7SPC-JMlpOYBGq/s16000/Paintings_title.PNG">
			<%}%>
		</div>
			
	
	

<!-- Wrapper -->
		<div class="grid">
			<% for(let i = paintings.length-1; i >= 0; i--){ %>
				<%if(paintings.findIndex(painting => painting.order == i) != -1){%>
					<%if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674af6df8d29ed03b0b71727"){%>
						<div class="grid-item grid-large">
					<% }else if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674b429c8d29ed03b0b719c7"){%>
						<div class="grid-item grid-medium">
					<% }else if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674b287f8d29ed03b0b717ef"){%>
						<div class="grid-item grid-medium">
					<% }else if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674c400859c99b01b5a1a114"){%>
						<div class="grid-item grid-medium">
					<% }else if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674c8ad868fdf303dc81f48f"){%>
						<div class="grid-item grid-medium">
					<% }else if(paintings[paintings.findIndex(painting => painting.order == i)]._id == "674b2db58d29ed03b0b71888"){%>
						<div class="grid-item grid-medium">
					<% }else{ %>
						<div class="grid-item">
					<% } %>
							<a href="/painting/<%=paintings[paintings.findIndex(painting => painting.order == i)]._id%>">
								<% for(let img of paintings[paintings.findIndex(painting => painting.order == i)].image_small) { %>
								<img style="width: 100%; height:auto" src="<%=img.url%>" alt="Artwork by Helena Blagojevic" />
								<% } %>
								<% if(currentUser){ %>
								<div class="number"><%=String(paintings[paintings.findIndex(painting => painting.order == i)].order)%></div>
								<%}%>
							</a>
						</div>
				<% } %>
			<% } %>
			
		</div>
		<a href="/gallery" class="button big btn-back inverted" style="background-size:33em;margin: 1em 0 3em 4em; position: static"></a>
	</div>
			
<%-include("partials/footer-index")%>