<!DOCTYPE HTML>
<html>
	<head>
		<title><%=paintings[index].name%> | Helena Blagojević Website</title>
		<meta name="description" content="An artwork made by the artist Helena Blagojević.">
		
<%-include("partials/header")%>

<!-- Wrapper -->
	<% if(paintings[index].category == "drawing"){%>
	<div style="min-height: 100vh; background-attachment:fixed; background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgrWnz9WRIedadTcbwK-JHoHt4c4kRf0c0ScBcxQDysqoF2yN2Vjf9oS2uCZbcndzA7wsp24a7XxmTW3wZHnqRSe7n1CodW4iSV8LxAIn5ZiMAV2kN48gTsDnOjrOLG8arhyNST1tU5jYd2Q4qdAuOFFUpRjxLWckIFR9i70QMYzFYTCg3vjpgcerpFRrHC/s16000/drawings-paper1.JPG');">
	<%}else if(paintings[index].category == "painting"){%>
	<div style="min-height: 100vh; background-attachment:fixed; background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEht7C2VKoUS7_SYc2fJAzZskX5QlW9G8RmjdxJaW-xXrcwz8YDkaTZQYAgqgY-HTcDdpBtAkopiylbOiitCH79zCaSHWL-TPc3oCXAt-KikYirj6xL6IdLA-eKtbwm320H7nnZm6y0QMtmkc7LEylqNugrKZnsJbzWl_pWcXu0vxByqs2xRWbuGTsRrywWq/s16000/paintings-paper1.JPG');">
	<%}%>
		<div id="wrapper" class="show-wrapper">
			<section class="main items">
				<!-- container1 -->
				<article class="show item show-item1 show-container" id="showItem" style="padding: 3em 0 1em 0">
					<% if(forward_painting != -1){%>
						<div class="arrow"><a href="/painting/<%=paintings[forward_painting]._id%>" class="button btn-arrow left" style="background-size:7em;"></a></div>
					<%}else{%>
						<div class="arrow"></div>
					<%}%>
					
					<% for(let img of paintings[index].image) { %>
					<img alt="Artwork of Helena Blagojevic, name:<%=paintings[index].name%>, dimensions: <%=paintings[index].dimensions%>, technique: <%=paintings[index].technique%>, made in year: <%=paintings[index].year%>" class="show-image zoomD" id="zoom-img" style="background-image: url('<%=img.url%>')" src="<%=img.url%>">
					<%}%>

					<% if(back_painting >= 0){%>
						<div class="arrow"><a href="/painting/<%=paintings[back_painting]._id%>" class="button btn-arrow right" style="background-size:7em;"></a></div>
					<%}%>
				</article>
				<!-- container2 -->
				<article class="show item show-item2" style="position: relative;">
					<img style="width: 15em; height:12em" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj2qdCEqQgwAUPRPikmwRhyphenhyphenX0n1ZIclh543VkSqiirYmFxzeNqoZuxypb-DNALapzT_LXI0422hFYBmH8XATBfDHuyy_YGjEmXgCtIZwXtQMT1Ue-lmbvdf4cIDMOvaVwO-c8Bk4p9i9Sv8owof0ZVMkeO8-rqPojoseUik64B95TVcVcwV0JGRahH7UQLi/w640-h412/detail-show.PNG">
					<ul class="actions show-font show-text">
						<h3 class="show-font" style="margin: 0; font-size: 2.25em"><%=paintings[index].name%></h3>
						<li>- dimensions: <%=paintings[index].dimensions%></li>
						<li>- <%=paintings[index].technique%></li>
						<li>- made in year <%=paintings[index].year%></li><br>
					</ul>
					
					<div class="arrow-container">
						<!-- <% if(index-1 >= 0){%>
							<div class="arrow-phone"><a href="/painting/<%=paintings[index-1]._id%>" class="button btn-arrow left" style="background-size:7em;"></a></div>
						<%}%>
						<% if(index+1 < paintings.length){%>
							<div class="arrow-phone"><a href="/painting/<%=paintings[index+1]._id%>" class="button btn-arrow right" style="background-size:7em;"></a></div>
						<%}%> -->
						
						
						<% if(back_painting >= 0){%>
							<div class="arrow-phone"><a href="/painting/<%=paintings[back_painting]._id%>" class="button btn-arrow left" style="background-size:7em;"></a></div>
						<%}%>
						<% if(forward_painting != -1){%>
							<div class="arrow-phone"><a href="/painting/<%=paintings[forward_painting]._id%>" class="button btn-arrow right" style="background-size:7em;"></a></div>
						<%}%>
						
					</div>
					
					<!-- signedin -->
					<% if(currentUser){ %>
					<form action="/painting/<%=paintings[index]._id%>?_method=DELETE" method="POST">
						<button>
							Delete
						</button>
					</form>
					<a class="button" href="/painting/<%=paintings[index]._id%>/edit">Edit</a>
					<div style="font-size: 2em; color: black; font-weight: 500"><%=String(paintings[index].order)%></div>
					<% } %>
				</article>
				
			</section>
			<div id="lb-back" style="z-index: 1032">
				<div id="lb-img"></div>
			</div>
		<!-- </article>
	</section> -->
			<script src="/js/zoom.js"></script>
		</div>
		<a href="/type/<%=paintings[index].category%>" class="button big btn-back black" style="background-size:33em; position: relative; bottom: 2em; left: 2em;"></a>
	</div>
<%-include("partials/footer-show")%>
